/* header.css */
header {
  background-color: #fff; /* White background */
  padding: 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-weight: 800;
}

.header-nav ul li {
  margin-right: 20px;
  border: 1px solid transparent; /* Add border to each list item */
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.header-nav ul li a {
  padding: 1.3em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.header-nav ul li a:hover {
  background-color: #007bff;
  box-shadow: 0px 15px 20px rgba(46, 89, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.signin-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.signin-button:hover {
  color: #007bff;
  background-color: #ffffff;
}

header .menu-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  header .menu-button {
    visibility: visible;
    opacity: 1;
  }

  header .header-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Adjusted height to cover the entire viewport */
    width: 100%; /* Adjusted width for better visibility */
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgba(224, 230, 237, 0.8); /* Adjusted background color with reduced opacity */
    backdrop-filter: blur(5px); /* Apply glass morphism effect */
    transition: 1s;
    transform: translateX(100%); /* Corrected typo in transform property */
    z-index: 1;
  }

  header .header-nav ul {
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .header-nav ul li  {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
    padding: 8px 16px; /* Add padding to anchor elements */
    border-radius: 5px; /* Add border radius to anchor elements */
    font-weight: 800;
  }

  header .responsive_nav {
    transform: translateX(0); /* Adjusted transform property to show the menu */
  }

  .header-nav .menu-cancel {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .header-nav a {
    font-size: 1.6rem;
  }
}
