/* header.css */
header {
    background-color: #fff; /* White background */
    padding: 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #333;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #007bff;
  }
  
  .signin-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .signin-button:hover {
    background-color: #0056b3;
  }
  