/* home.css */

.home-main {
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 255), rgba(119, 133, 241, 0.903));
}

.home-sub-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.image {
  max-width: 100%;
  height: auto;
}
.button-home {
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: center; /* Center the buttons horizontally */
  gap: 1.5rem;
  height: auto;
}
.btn-startup{
  position: relative;
  padding: 12px 35px;
  background: #4c83fa;
  font-size: 17px;
  font-weight: 1000;
  color: #ffffff;
  border: 3px solid #4c83fa;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
}
.btn-investor{
  position: relative;
  padding: 12px 35px;
  background: #ffffff;
  font-size: 17px;
  font-weight: 1000;
  color: #4c83fa;
  border: 3px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-startup:hover{
  background: #ffffff;
  color: #4c83fa;
  box-shadow: 0 0 0px #4c83fa;
  border-color: #ffffff;
}
.btn-investor:hover{
  background: #4c83fa;
  color: #ffffff;
  box-shadow: 0 0 0px #4c83fa;
  border-color: #4c83fa;
}

.slideshow-container {
  position: relative;
  width: 40%;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 60px; /* Add border radius */
  z-index: 0;
}

.slideshow {
  display: flex;
  transition: transform 2s ease;
  height: 100%;
  width: 100%;
  touch-action: pan-y; /* Allow vertical scrolling on mobile devices */
  animation: slideAnimation 10s infinite alternate; /* Auto animation */
}

.slide {
  flex: 1 0 auto;
  min-width: 100%;
  max-width: 100%; /* Ensure each image takes up the full width of the container */
}

/* Arrows for scrolling */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 9.5%;
  margin-top: 4%;
}

.item {
  width: 100%;
  display: flex;
  margin-bottom: 20px; /* Adjust margin between items */
}

.image-container {
  flex: 0 0 50%; /* Half the width for image */
}

.text-container {
  flex: 0 0 50%; /* Half the width for text */
  padding-left: 20px; /* Add space between image and text */
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Add border radius */
  transition: transform 0.3s ease; /* Add transition for smoother effect */
}

.image:hover {
  transform: scale(1.05); /* Increase size on hover */
}

@keyframes slideAnimation {
  0% { transform: translateX(0); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(0); }
}

@media (max-width: 768px) {
  .slideshow-container {
      min-width: 300px;
      border-radius: 30px;
      max-height: 200px;
  }
  .home-sub-main {
    width: 90%; /* Adjust width for smaller screens */
  }
  
  .button-home {
    margin-right: 0; /* Remove right margin */
  }

  .btn-startup, .btn-investor{
    font-size: 10px;
    padding: 8px 25px;
  }
  
  .section {
    margin-left: 0; /* Remove left margin */
  }

  .item {
    width: calc(100% - 10px); /* Full width for smaller screens */
  }
}
